/* input[class*=date], input[class*=Date], input[id*=date], input[id*=Date]{
    background: #ffff00 !important;
} */
/* input[class*=Date]{
    background: #ffff00 !important;
}
input[id*=date]{
    background: #ffff00 !important;
}
input[id*=Date]{
    background: #ffff00 !important; 
}*/
button[class=detectorbutton]{
    display: inline-block;
    background-color: red !important;
    color: white;
    position: absolute !important;
    border: 3px solid red !important;
    z-index: 5 !important;
}

/* from datepickerwidget.js */

[id="mon"]{
    position: relative;
    display: block !important;
    top: 0;
    left: 0;
    margin-left: 10% !important;
    margin-top: 10% !important;
    margin-bottom: 5% !important;
    font-size: 2em !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

[id="yea"]{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10%;
    margin-bottom: 5%;
    display: inline-block !important;
    font-size: 2em !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
[id="pickercontainer"]{
    position: relative !important;
    display: block;
    left: auto;
    right: auto;
    width: 500px;
    height: 500px;
    background-color: rgb(255, 255, 142);
    border: 3px solid black;
    z-index: 1000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
[id="pickertable"]{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 70%;
    font-size: 1.5em;
    border: 0;
}

[class="pickertablerow"]{
    text-align: right !important;
}

table[class="cbdatepicker"], tr[class="cbdatepicker"], td[class="cbdatepicker"], th[class="cbdatepicker"]{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    text-align: right !important;
    padding: 0 !important;
    border: 0;
    background-color: rgb(255, 255, 142);
}

p[class="navdat"]{
    display: inline;
    position: absolute;
    margin: 1% !important;
}
[id="navtopleft"]{
    top:0;
    left:0;
}
[id="navtopright"]{
    top:0;
    right:0;
}
[id="navbotleft"]{
    bottom:0;
    left:0;
}
[id="navbotright"]{
    bottom:0;
    right:0;
}